<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="org.joinmastodon.android">

	<uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>


	<application
		tools:replace="android:label"
		android:label="@string/mo_app_name_nightly">
		<!--		<receiver android:name=".updater.GithubSelfUpdaterImpl$InstallerStatusReceiver" android:exported="false"/>-->
		<!--		<receiver android:name=".updater.GithubSelfUpdaterImpl$AfterUpdateRestartReceiver" android:exported="true" android:enabled="false">-->
		<!--			<intent-filter>-->
		<!--				<action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>-->
		<!--			</intent-filter>-->
		<!--		</receiver>-->
	</application>

</manifest>